:root {
    --border-table-first: 3px solid gray;
    --border-table-second: 2px solid rgb(188, 187, 187);
    --text-color-first: #696969;
    --text-color-secondary: #B4AEAE;
    --btn-editbook-edit-color: #FFC81A;
    --btn-editbook-edit-color-hover: #d7aa16;
    --btn-editbook-delete-color: red;
    --btn-editbook-delete-color-hover: #c20404;
    --btn-editbook-submit: #5ACC36;
    --btn-editbook-submit-hover: #3a8423;
    --btn-color-blue: #1EC7FD;
    --btn-color-blue-hover: #1babdc;
    --btn-editbook-radius: 17px;
    --btn-editbook-width: 70px;
    --btn-editbook-height: 30px;
    --btn-editbook-right: 30px;
}


.BookDetail-sell-approve {
    position: relative;
    width: calc(100% - 350px);
    height: auto;
    left: 350px;
    top: 2rem;
    display: flex;
    justify-content: center;

    & h1 {
        position: absolute;
        text-align: center;
        color: var(--text-color-first);
    }

    & .BookDetail-sell-approve-card {
        position: absolute;
        top: 80px;
        width: 80%;
        height: auto;
        border-radius: 20px 20px;
        background: transparent;
        box-shadow: 0px 0px 10px gray;

        & .admin-choice {
            margin: auto;
            left: 0;
            right: 0;
            width: 80%;
            margin-top: 2rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: var(--text-color-first);

            & h2 {
                color: red;
            }

            & button {
                height: 40px;
                border: none;
                border-radius: 8px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 16px;
                color: white;
                cursor: pointer;
            }

            & .accept {
                margin-left: 20px;;
                width: 140px;
                background: var(--btn-editbook-submit);
                display: flex;

                & span {
                    margin-top: 5px;
                    font-size: 20px;
                }
            }

            & .accept:hover {
                background: var(--btn-editbook-submit-hover);
            }

            & .notaccept {
                margin-left: 10px;
                width: 155px;
                background: var(--btn-editbook-delete-color);

                & span {
                    margin-top: 10px;
                    font-size: 25px;
                }
            }

            & .notaccept:hover {
                background: var(--btn-editbook-delete-color-hover)
            }
        }

        & .text-group {     
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        & .book-profile {
            margin-top: 2rem;
            gap: 30px;
            display: flex;
            justify-content: center;

            & .bookimg {
                position: relative;
                width: 300px;
                height: 400px;
                display: flex;
                justify-content: center;
                align-items: center;

                & img {
                    position: relative;
                    width: 300px;
                    height: 400px;
                }
            }
                
            & .detail-text {
                position: relative;
                width: auto;
                top: 0;
                line-height: 1.6;
                color: var(--text-color-first);

                & .book-group {
                    padding: 5px 0;
                }
            }

            & .del-book {
                width: 190px;
                height: 40px;
                gap: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 8px;
                background: transparent;
                background : var(--btn-editbook-delete-color);
                color: white;
                font-size: 16px;
                cursor: pointer;
            }

            & .del-book:hover {
                background: var(--btn-editbook-delete-color-hover);
            }
        }
    
        & .prologue {
            width: 90%;
            margin: auto;
            left: 0;
            right: 0;
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            color: var(--text-color-first);

            
            & h3 {
                text-align: center;
                font-weight: 100;
            }
    
            & p {
                padding: 10px;
                text-align: center;
            }
    
            & .cut-off-text {
                --max-line: 3;
                --line-height: 2.4;
    
                max-height: calc(var(--max-line) * 16px * var(--line-height));
                line-height: var(--line-height);
                position: relative;
                overflow: hidden;
            }
    
            & .cut-off-text:has(+ .expand-btn:not(:checked))::before {
                position: absolute;
                content: "";
                height: calc(16px * var(--line-height));
                width: 100%;
                bottom: 0;
                background: linear-gradient(to bottom,transparent,white);
            }
    
            & .expand-btn {
                position: relative;
                margin: auto;
                left: 0;
                right: 0;
                width: 15%;
                appearance: none;
                padding: .5em;
                cursor: pointer;
                display: flex;
                justify-content: center;
                color: var(--text-color-first);
                font-size: 16px;
            }
    
            & .expand-btn:hover {
                color: var(--text-color-secondary);
            }
    
            & .expand-btn::before {
                content: "อ่านต่อเพิ่ม";
                margin-top: 0px;
            }
    
            & .expand-btn:checked::before {
                content: "ย่อข้อความลง";
                margin-top: 0px;
            }
    
            & .cut-off-text:has(+ .expand-btn:checked) {
                max-height: none;
            }
            
            & .seperate-line {
                position: relative;
                display: flex;
                margin: auto;
                left: 0;
                right: 0;
                width: 100%;
                top:0px;
                border-bottom: 2px solid var(--text-color-secondary);
            }
        }
    
        & .chapter {
            width: 100%;
            margin-top: 40px;
            padding-bottom: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .book-chapter {
                width: 90%;
                margin: auto;
                left: 0;
                right: 0;
                display: flex;
                justify-content: center;
                flex-direction: row;
                border-bottom: 1px solid var(--text-color-secondary);
               
                & button {
                    width: 100%;
                    height: 70px;
                    margin-top: 15px;
                    color: var(--text-color-first);
                    border: none;
                    background: transparent;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 16px;
                    cursor: pointer;
        
                    & .ep {
                        width: 33%;
                    }
        
                    & .ep-name {
                        width: 33%;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
        
                    & .ep-date {
                        width: 33%;
                    }
                }
        
                & button:hover {
                    background: #f8f6f6;
                }

            }

            & h2 {
                margin-top: 40px;
                text-align: center;
                color: var(--text-color-secondary);
            }
        }   
    }
}

.booksellapprove-box-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.booksellapprove-confirm {
    width: 450px;
    z-index: 1;
    flex-direction: column;
    background: white;
    border-radius: 5px;

    & .booksellapprove-massage-alert {
        position: relative;
        margin: auto;
        left: 0;
        right: 0;
        top: 25px;
        width: 90%;
        height: 80px;
        border: 2px solid var(--btn-edit-cancel);

        & h5 {
            display: flex;
            justify-content: center;
            color: var(--btn-edit-cancel);
            font-size: 18px;
        }

        & p {
            text-align: center;
            color: var(--btn-edit-cancel);
        }
    }

    & .form-control {
        position: relative;
        margin-left: 20px;
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        padding: 10px;

        & label {
            margin-left: 2px;
            color: var(--btn-editbook-delete-color-hover);
            font-size: 16px;
            font-weight: 100;
        }

        & textarea {
            width: 95%;
            margin-top: 8px;
            background: transparent;
            border: 1px solid var(--text-color-secondary);
            border-radius: 8px;
            outline: none;
            font-size: 16px;
            color: var(--text-color-first);
            padding: 0 35px 0 5px;
        }
    }

    & .box-btn {
        position: relative;
        gap: 30px;
        display: flex;
        justify-content: center;

        & button {
            width: 90px;
            height: 35px;
            border: none;
            border-radius: 17px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 20px;
            cursor: pointer;    
        }

        & .submit {
            background-color: var(--btn-edit-submit);
        }

        & .submit:hover {
            background-color: var(--btn-edit-submit-hover);
        }

        & .cancel {
            background-color: var(--btn-edit-cancel);
        }

        & .cancel:hover {
            background-color: var(--btn-edit-cancel-hover);
        }
    }

    & .box-btn.accept {
        margin-top: 60px;
    }

    & .box-btn.notaccept {
        margin-top: 10px;
    }
}

& .booksellapprove-confirm.accept {
    height: 200px;
}

& .booksellapprove-confirm.notaccept {
    height: 300px;
}

