
.report-from-user {
    position: relative;
    width: calc(100% - 350px);
    height: fit-content;
    top: 2rem;
    left: 350px;
    display: flex;
    justify-content: center;

    & h1 {
        position: relative;
        text-align: center;
        color: var(--text-color-first)
    }

    & .manage-content {
        position: absolute;
        margin-top: 60px;
        width: 90%;
        height: 20rem;
        top: 15px;

        & .content-table {
            position: relative;
            width: 100%;
            color: var(--text-color-first);

            & table {
                width: 100%;
                border-spacing: 0;

                & th,td {
                    padding: 10px 10px;
                    text-align: center;
                    vertical-align: middle;
                }

                & th {
                    border-bottom: var(--border-table-first);
                }

                & td {
                    border-bottom: var(--border-table-second);

                    & img {
                        width: 70px;
                        height: 70px;
                        border-radius: 80%;
                    }

                    & button {
                        width: 85px;
                        height: 35px;
                        border: none;
                        border-radius: 10px 10px;
                        background: var(--text-color-secondary);
                        color: white;
                        font-size: 14px;
                        cursor: pointer;
                    }

                    & button:hover {
                        background: var(--text-color-first);
                    }
                }
            }

            & h2 {
                margin-top: 5rem;
                text-align: center;
                color: var(--text-color-secondary);
            }
        }
    }
}

